[submodule "libs/hbb_common"]
	path = libs/hbb_common
	url = https://github.com/feyyaz54abidin-beep/hbb_common

[submodule "libs/hwcodec/externals"]
	path = libs/hwcodec/externals
	url = https://github.com/rustdesk-org/externals.git
	ignore = untracked
